.container1{
  font-family: 'Space Mono', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #Dfd0c0;
  color: #5b3e31;
  height: 100px;
}

#title{
  margin-left: 20px;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: flex-end;
}

.nav{
  margin-right: 50px;
  margin-bottom: 0;
  padding: 0;
  color: #5b3e31;
}

.navTitle {
  color: #5b3e31;
  font-size: 2.2em;
  font-weight: 400;
}

.subtitle{
  display: flex;
  justify-content: center;
  font-family: 'Space Mono', sans-serif;
  color: #5b3e31;
}

.header {
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  background-color: #Dfd0c0;
}

.foot {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.team {
  margin: 0;
  padding: 0;
}

.label {
  font-size: 1em;
}

.copyright {
  font-size: 0.8em;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.card {
  background-color: #e8e8d3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 300px;
}

.pc {
  background-color: #e8e8d3;
  margin: 30px; 
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home {
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}